/* ************************************************** */
/*                 Navigation Styles                  */
/* ************************************************** */

.navi {
  background: #fff;
  border-bottom: 2px solid $light-grey;
  display: flex;
  height: $navi-height;
  position: fixed;
  padding: .5rem 5rem;
  top: 0;
  width: 100%;
  z-index: 2;
  user-select: none; /* Standard */

}

.navi__logo {
  flex-shrink: 0;
  max-height: 100%;
  max-width: 100%;
}

.navi__logo--mobile {
  display: none;
}

.navi__links-container {
  color: $dark-grey;
}

.navi li {
  cursor: pointer;
  margin-left: 2.4rem;
}

.navi ul {
  position: absolute;
  bottom: 1rem;
}

/* Tablet Styling */
@media (max-width: $tablet-breakpoint) {
  .navi__container {
    width: 75%;
    border: 2px solid $light-grey;
  }
  .navi {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
  }

  .navi__links-container {
    padding-right: 12.5vw;
  }
  .navi__logo-container {
    padding-left: 12.5vw;
  }
  
  .navi__logo--desktop {
    display: none;
  }

  .navi__logo--mobile {
    display: inline-flex;
    max-height: 30px;
    width: auto;
  }
  .navi li {
    display: block;
    margin-left: 0;
    text-align: right;
  }

  .navi ul {
    padding-left: 0;
    position: static;
  }
}

/* Mobile Styling */
@media (max-width: $mobile-breakpoint) {
  .navi {
    align-items: center;
    height: 18vh;
    padding: 1rem 0 0;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }

  .navi a {
    line-height: 1.2;
  }
  
  .navi li {
    font-size: 2vw;
    text-align: center;
  }

  .navi__links-container {
    padding-right: 0;
  }

  .navi__logo-container {
    padding-left: 0;
  }
}

/* iPhone SE Styling */
@media (max-width: $s-mobile-breakpoint) {
  .navi {
    height: 20vh;
  }

  .navi a {
    line-height: 1.1;
  }
  
}