/* ************************************************** */
/*                 Navigation Styles                  */
/* ************************************************** */

.navi {
  background: #fff;
  border-bottom: 2px solid $light-grey;
  display: flex;
  min-height: $navi-height;
  position: fixed;
  padding: .5rem 5rem;
  top: 0;
  width: 100%;
  z-index: 2;
}

.navi__logo {
  flex-shrink: 0;
  max-height: 100%;
  max-width: 100%;
}

.navi__logo--mobile {
  display: none;
}

.navi__links-container {
  color: $dark-grey;
}

.navi li {
  cursor: pointer;
  margin-left: 2.4rem;
}

.navi ul {
  position: absolute;
  bottom: 1rem;
}

/* Tablet Styling */
@media (max-width: $tablet-breakpoint) {
  .navi__container {
    width: 100%;
    border: 2px solid $light-grey;
  }
  .navi {
    align-items: center;
    justify-content: space-between;
    width: 75%;
  }
  
  .navi__logo--desktop {
    display: none;
  }

  .navi__logo--mobile {
    display: block;
    max-height: 30px;
    width: auto;
  }
  .navi li {
    display: block;
    margin-left: 0;
    text-align: right;
  }

  .navi ul {
    padding-left: 0;
    position: static;
  }
}

/* Mobile Styling */
@media (max-width: $mobile-breakpoint) {
  .navi {
    padding: 1rem 0 0;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  .navi li {
    font-size: 2vw;
    text-align: center;
  }
}