/* ************************************************** */
/* The Beer Styles */
/* ************************************************** */

.beer-section {
  display: flex;
  align-items: center;
  height: 88vh;
  border-bottom: 2px solid #efefef;
}

.beer__text-container {
  flex: 1;
  border-right: 2rem solid transparent;
}

.beer__img-container {
  flex: 1;
  border-left: 2rem solid transparent;
  flex-shrink: 1;
  max-width: 100%;
}

.beer__h1 {
  line-height: calc(.8em + .2vh);
}

.beer__img {

}

/* Mobile Styling */
@media (max-width: $mobile-breakpoint) {
  .beer-section {
    flex-direction: column;
  }
  .beer__img-container {
    width: 100%;
  }
}