/* ************************************************** */
/* The Beer Styles */
/* ************************************************** */

.beer-section {
  padding: 3rem 0;
  display: flex;
  height: 90vh;
  border-bottom: 1px solid black;
}
.beer-section__text-container {
  padding: 1rem;
  flex: 1;
}

.beer-section__image-container {
  padding: 1rem;
  flex: 1;
}


/* Mobile Styling */
@media (max-width: 768px) {
  .beer-section {
    flex-direction: column;
  }
}