/* ************************************************** */
/* The Beer Styles */
/* ************************************************** */

.beer-section {
  display: flex;
  align-items: center;
  height: 90vh;
  border-bottom: 2px solid #efefef;
}

.beer__text-container {
  flex: 1;
  border-right: 2rem solid transparent;
}

.beer__img-container {
  flex: 1;
  border-left: 2rem solid transparent;
}

/* Mobile Styling */
@media (max-width: 768px) {
  .beer-section {
    flex-direction: column;
  }
}