/* ************************************************** */
/*            Celebrating Mastery Styles              */
/* ************************************************** */

.mastery__img-container h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

.mastery__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: $navi-height;
  padding-top: 3.6rem;
  margin: auto;
}

.mastery__h1 {
  line-height: calc(.8em + .2vh);
  margin-bottom: .5rem;
}

.mastery__h2 {
  color: #000;
  line-height: 1em;
}

.mastery__h2--red {
  color: $duvel-red;
}

.mastery__img-container {
  align-items: center;
  background: $light-grey;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  margin-top: -20vh;
  padding-top: 2rem;
  width: 40%;
}

.mastery__img-container--left {
  align-self: flex-start;
}

.mastery__img-container--right {
  align-self: flex-end;
}

.mastery__img-container--top {
  align-self: flex-start;
  margin-top: 4rem;;
}
.mastery__btn-container {
  display: inline;
  left: 8vw;
  position: relative;
  top: 2vh;
}
.mastery__btn {
  background: $duvel-red;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2rem;
  padding: 6px 12px;
  text-transform: uppercase;
  text-align: center;
}

.mastery__img {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  max-width: 100%;
  max-height: 100%;
}

/* Tablet Styling */
@media (max-width: $tablet-breakpoint) {
  .mastery__container {
    flex-direction: column;
    justify-content: center;
    width: 75%;
  }
  .mastery__btn {
    align-self: center;
    height: 8vh;
    width: 22vh;
    font-size: 4.5vw;
  }

  .mastery__btn-container {
    left: 0;
    top: 3vh;
  }

  .mastery__img-container {
    align-self: center;
    margin-top: 4rem;
    width: 100%;
  }
}

/* Mobile Styling */
@media (max-width: $mobile-breakpoint) {
  .mastery__container {
    margin-top: 2rem;
    width: 90%;
  }
  .mastery__btn-container {
    top: 20px;
  }
}