/* ************************************************** */
/* Celebrating Mastery Styles */
/* ************************************************** */

.mastery__img-container h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

.mastery__container {
  padding-top: 3.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // border-bottom: 2px solid $light-grey;
  padding-bottom: $navi-height;
  margin: auto;
}

.mastery__h1 {
  margin-bottom: .5rem;
  line-height: calc(.8em + .2vh);
}

.mastery__h2 {
  color: #000;
  line-height: 1em;
}

.mastery__h2--red {
  color: $duvel-red;
}

.mastery__img-container {
  background: $light-grey;
  align-items: center;
  width: 40%;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  padding-top: 2rem;
  margin-top: -20vh;
}

.mastery__img-container--left {
  align-self: flex-start;
}

.mastery__img-container--right {
  align-self: flex-end;
}

.mastery__img-container--top {
  align-self: flex-start;
  margin-top: 4rem;;
}
.mastery__btn-container {
  display: inline;
  position: relative;
  top: 15px;
  left: 160px;
}
.mastery__btn {
  border-radius: 2px;
  color: #fff;
  background: $duvel-red;
  font-size: 1.2rem;
  padding: 6px 12px;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  text-align: center;
  border: none;
}

.mastery__btn:hover {
  opacity: .4;
  transition: 500ms all;
}
.mastery__img {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  max-width:100%;
  max-height:100%;
}

/* Tablet Styling */
@media (max-width: $tablet-breakpoint) {
  .mastery__container {
    flex-direction: column;
    justify-content: center;
    width: 75%;
  }
  .mastery__btn {
    height: 6vh;
    width: 13vh;
    align-self: center;
  }

  .mastery__btn-container {
    left: 0;
    top: 30px;
  }

  .mastery__img-container {
    margin-top: 4rem;
    align-self: center;
    width: 100%;
  }
}

/* Mobile Styling */
@media (max-width: $mobile-breakpoint) {
  .mastery__container {
    margin-top: 2rem;
    width: 90%;
  }
  .mastery__btn-container {
    left: 0;
    top: 20px;
  }
}