/* ************************************************** */
/* Since 1871 Styles */
/* ************************************************** */

.since-section {
  background: $grey;
}

.since__video-container-container {
  margin-top: 2rem;
  padding: 4rem 5rem;
}

.since__video-container {
  height: 0;
  padding-bottom: 56.25%; /* 16:9 to maintain video shape */
  position: relative;
}

.since__video-container iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* Mobile Styling */
@media (max-width: $mobile-breakpoint) {
  .since__video-container-container {
    padding: 1rem 0;
    width: 90%;
    margin: 2rem auto;
  }
}
