/* ************************************************** */
/* Since 1871 Styles */
/* ************************************************** */

.since-section {
  width: 100%;
  background: #f5f5f5;
}

.since-section__video-container {
  padding: 0 3.6rem;
}
.since-section__video {
  width: 100%;
}