/* ************************************************** */
/*                 Instagram Styles                   */
/* ************************************************** */

.instagram-section {
  margin: 4rem 0;
  min-height: 40vh;
}
.instagram-section h3 {
  font-size: 3.6rem;
}
.instagram-section__img-box {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.instagram-section__img-container {
  margin: .5vw;
  display: block;
  flex-shrink: 1;
}

.instagram-section__img {
  max-width: 250px;
}


/* Tablet Styling */
@media (max-width: $tablet-breakpoint) {
  .instagram-section {
  }
}

/* Mobile Styling */
@media (max-width: $mobile-breakpoint) {
  .instagram-section {
    width: 90%;
  }
  .instagram-section__img-box {
    flex-direction: column;
    align-items: center;
  }
}