/* ************************************************** */
/*                 Instagram Styles                   */
/* ************************************************** */

.instagram-section {
  margin: 4rem auto;
  min-height: 40vh;
  padding-bottom: 4rem;
}
.instagram-section h3 {
  font-size: 3.6rem;
}
.instagram-section__img-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 2rem;
}
.instagram-section__img-container {
  display: block;
  flex-shrink: 1;
  margin: 0.5vw;
}

.instagram-section__img {
  width: 225px;
}

/* Tablet Styling */
@media (max-width: $tablet-breakpoint) {
  .instagram-section {
    width: 75%;
  }
}

/* Mobile Styling */
@media (max-width: $mobile-breakpoint) {
  .instagram-section {
    width: 90%;
  }
  .instagram-section__img {
    width: 100%;
  }
  .instagram-section__img-box {
    align-items: center;
    flex-direction: column;
  }
}
