/* ************************************************** */
/*                 Instagram Styles                   */
/* ************************************************** */

.instagram-section {
  margin: 4rem 0;
  height: 40vh;
}
.instagram-section h3 {
  font-size: 3.6rem;
}
.instagram-section__img-box {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
.instagram-section__img-container {
  margin: .5vw;
  display: block;
  flex-shrink: 1;
}

.instagram-section__img {
  max-width: 200px;
}

/* Mobile Styling */
@media (max-width: $mobile-breakpoint) {
  .instagram-section__img-box {
    flex-direction: column;
  }
}