/* ************************************************** */
/* Footer Styles */
/* ************************************************** */

.footer-section {
  border-top: 2px solid $light-grey;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer__logo {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  height: 5%;
  width: 5%;
}

.footer__copyright {
  font-size: 1.2rem;
}

/* Tablet Styling */
@media (max-width: $tablet-breakpoint) {
  .footer-section {
    width: 75%;
  }
  .footer__logo {
    height: 15%;
    width: 15%;
  }
}

/* Mobile Styling */
@media (max-width: $mobile-breakpoint) {
  .footer-section {
    width: 90%;
  }
  .footer__logo {
    height: 20%;
    width: 20%;
  }
}
