// Breakpoints
$s-mobile-breakpoint: 320px;
$mobile-breakpoint: 425px;
$tablet-breakpoint: 900px;

// Sizes
$navi-height: 15vh;

// Colors
$light-grey: #efefef;
$grey: #aaaaaa;
$dark-grey: rgb(65, 65, 65);
$duvel-red: #EA1829;
$duvel-tan: #EDE2C6;
