/* ************************************************** */
/*                    Base Styles                     */
/* ************************************************** */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: $duvel-tan;
  text-shadow: none;
}

::selection {
  background: $duvel-tan;
  text-shadow: none;
}

a {
  font-size: 1.5rem;
}

a:hover {
  text-decoration: #999;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $duvel-red;
  text-transform: uppercase;
}

p {
  font-size: 1.6rem;
}
h1 {
  font-size: 4.2rem;
}
h2 {
  font-size: 3.4rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2.2rem;
}
h5 {
  font-size: 1.6rem;
}
h6 {
  font-size: 1rem;
}

/* Mobile Fonts */
@media (max-width: $mobile-breakpoint) {
  h1 {
    font-size: 3.2rem;
    margin: 0;
  }

  h2 {
    font-size: 2.6rem;
    margin: 0;
  }
}

/* Used to properly offset anchor links when using sticky header */
.anchor {
  display: block;
  height: $navi-height;
  margin-top: -$navi-height;
  visibility: hidden;
}

/* iPhone SE needs a special anchor size */
@media (max-width: $s-mobile-breakpoint) {
  .anchor {
    height: 20vh;
    margin-top: -20vh;
  }
}

body {
  font-size: 62.5%;
  margin-top: 150px;
  font-family: Teko, sans-serif;
}

img {
  width: 100%;
}

.lines-container {
  position: absolute;
  z-index: -1;
}

.lines-container img {
  width: 6vw;
}

/* Mobile Styling */
@media (max-width: $mobile-breakpoint) {
  .lines-container img {
    visibility: hidden;
  }
}

.lines-container--left {
  left: 0;
  max-width: 15px;
}

.lines-container--top {
  top: 25vh;
}

.lines-container--right {
  right: 0;
}

.section {
  padding: 0 5rem;
}

/* Tablet Styling */
@media (max-width: $tablet-breakpoint) {
  .section {
    padding: 0;
    // width: 75%;
  }
}

/* ************************************************** */
/*                    Base Classes                    */
/* ************************************************** */

.uppercase {
  text-transform: uppercase;
}

/*
* Hide visually and from screen readers
*/

.hidden {
  display: none !important;
}

/* Hide only visually, but have it available for screen readers: */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/* ************************************************** */
/*                    SFX  Classes                    */
/* ************************************************** */

/* Hover.css MIT License */
/* http://ianlunn.github.io/Hover/ */

/* Forward */
.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-forward:hover,
.hvr-forward:focus,
.hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

/* Grow Rotate */
.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-rotate:hover,
.hvr-grow-rotate:focus,
.hvr-grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: $duvel-red;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
